div.card {
    margin: 1% !important;
}

ul {
    padding: 5px !important;
}

h1.subject {
    text-shadow: 2px 3px 3px lightsalmon;
    margin: 30px 0 !important;
    font-size: 30px;
}

h1.subject::after {
    content: "";
    position: relative;
    background: linear-gradient(to right bottom, red, rgb(238, 144, 146), rgb(168, 23, 25));
    height: 5px;
    width: 20%;
    display: block;
    margin: 10px auto;
}

h1.subject.line-left::after {
    width: 0 !important;
}

.my-name {
    text-shadow: 1px 2px 2px gold;
}

@media screen and (min-width: 500px) {
    div.note:hover {
        transform: scale(1.5);
        transition: transform .5s;
        z-index: 999;
        position: relative;
    }
}

#popupId {
    position: fixed;
    left:-300px;
    width: 300px;
    transition: left .5s;
    z-index: 999999;
}

#popupId::after {
    content: "\f02a";
    display: inline-block;
    padding: 12px 15px;
    position: absolute;
    left:97%;
    top: 9%;
    background-color: white;
    border-style: solid solid solid none;
    border-width: 1px;
    border-color: #dfdfdf;
}

#popupId:hover {
    left: 0;
}

