div.card {
    margin: 1% !important;
}

ul {
    padding: 5px !important;
}

h1.subject {
    text-shadow: 2px 3px 3px lightsalmon;
    margin: 30px 0 !important;
}

h1.subject::after {
    content: "";
    position: relative;
    background: linear-gradient(to right bottom, red, rgb(238, 144, 146), rgb(168, 23, 25));
    height: 5px;
    width: 20%;
    display: block;
    margin: 10px auto;
}

h1.subject.line-left::after {
    width: 0 !important;
}

div.note:hover {
    transform: scale(1.5);
    transition: transform .5s;
    z-index: 999;
}